header {
    padding: 20px 0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.headerDiv {
    margin: 0 auto;
    width: 60%;
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    height: 40px;
    padding-right: 25px;
}

nav a {
    text-decoration: none;
    color: #353A40;
    font-size: 1.2em;
    font-weight: 600;
    transition: color 0.4s;
    padding-right: 25px;
}

nav a:hover {
    color: rgb(172, 171, 171);
}