.mainDiv {
    background-color: white;
    width: fit-content;
    margin: 50px auto;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.usernameForm input[type='text'] {
    width: 48.5%;
}

.usernameForm input[type='submit'] {
    font-family: 'Poppins', sans-serif;
    width: 50%;
    margin-top: 10px;
    background-color: #1d3557;
    color: white;
}