.instituteDiv {
    margin-bottom: 15px;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;

    text-align: left;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}