.asideDiv {
    width: 20%;
    background-color: hotpink;
}

.asideDiv ul {
    margin: 0;
    padding: 0 10px;
    list-style-type: none;
}

.asideDiv li {
    margin-bottom: 10px;
}

.asideDiv li:first-child {
    font-weight: bold;
}